/* polka dot background  */
:root {
  --polka-bg-image:
    radial-gradient(rgb(255, 111, 60) 10%, transparent 10%),
    radial-gradient(rgb(255, 111, 60) 10%, transparent 10%);
  --polka-bg-position: 0px 0px, 4px 4px;
  --polka-bg-size: 8px 8px;
  --polka-bg-color: rgb(255, 255, 255);
}

/* theme colours */
:root {
  --dark: #155263;
  --light: #ffc93c;
  --highlight: #ff9a3c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-image: var(--polka-bg-image);
  background-position: var(--polka-bg-position);
  background-size: var(--polka-bg-size);
  background-color: var(--polka-bg-color);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
